table.equipe img, div.equipe img {
    height: 40px;
}

/*permet de faire apparaitre une main*/
#ageHeader:hover, #nomHeader:hover {
    cursor: pointer;
}

.oldest{
    color: orange;
    front-weight : bold;
}

#formPlayer{
    display: none;
}

#message {
    padding: 10px;
}